<!DOCTYPE html>
<html lang="en">
<head>  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>myVM -> Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<!--===============================================================================================-->
</head>
<body>
    <div class="container" style="background-color: #7dd0f2"><img src="../static/images/InternalError.png" alt="problem"></div>
</body>
</html>